.back-to-albums{
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    display: block;
    text-decoration: none;
    margin: 10px 50px;
}

.photo-list{
    width: 100%;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: start;
}

.photo{
    width: 200px;
    height: 230px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.photo img{
    width: 150px;
    margin: 0 25px;
    cursor: pointer;
}

.shadow{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    cursor: pointer;
    overflow-y: scroll;
}

.shadow--hide{
    display: none;
}

.shadow--show{
    display: block;
}

.closePopUp{
    color: #fff;
    font-size: 250%;
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}

.first-part-cross{
    margin: -1px;
    transform: rotate(-45deg);
}

.popUp{
    background: #fff;
    border-radius: 10px;
    width: min-content;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.popUp img{
    background: #eee;
    width: 100%;
    min-width: 500px;
    min-height: 500px;
}

.pop-up-info{
    height: 20px;
    padding: 10px;
}

.pop-up-info-title{
    width: 95%;
}

.counter-photo{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.nextPhoto,
.prevPhoto{
    transition: 0.2s;
    position: absolute;
    top: 0;
    height: 100%;
    color: rgba(0,0,0,0);
    font-size: 200%;
    display: inline-block;
    vertical-align: top;
}

.nextPhoto:after,
.prevPhoto:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.nextPhoto:hover,
.prevPhoto:hover{
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.nextPhoto::selection,
.prevPhoto::selection{
    color: inherit;
    background: inherit;
}

.nextPhoto{
    width: 73%;
    right: 0;
    text-align: right;
    padding-right: 2%;
}
.prevPhoto{
    width: 33%;
    left: 0;
    text-align: left;
    padding-left: 2%;
}
@media (max-width: 600px) {
    .photo-list {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media (max-width: 600px) {
    .popUp {
        width: 94%;
        margin-left: 3%;
        margin-top: 60%;
    }
    .popUp img{
        min-height: inherit;
        min-width: inherit;
    }
    .photo{
        height: auto;
        width: 94%;
        margin-left: 3%;
    }
    .photo img{
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 680px) and (min-width: 601px) {
    .photo-list {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 900px) and (min-width: 681px) {
    .photo-list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 1200px) and (min-width: 901px) {
    .photo-list {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width: 1366px) and (min-width: 1201px) {
    .photo-list {
        grid-template-columns: repeat(5, 1fr)
    }
}

@media (max-width: 1600px) and (min-width: 1367px) {
    .photo-list {
        grid-template-columns: repeat(6, 1fr)
    }
}

@media (max-width: 2000px) and (min-width: 1601px) {
    .photo-list {
        grid-template-columns: repeat(7, 1fr)
    }
}

@media (max-width: 2200px) and (min-width: 2001px) {
    .photo-list {
        grid-template-columns: repeat(8, 1fr)
    }
}

@media (max-width: 2400px) and (min-width: 2201px) {
    .photo-list {
        grid-template-columns: repeat(9, 1fr)
    }
}

@media (min-width: 2401px) {
    .photo-list {
        grid-template-columns: repeat(10, 1fr)
    }
}