.back-to-authors {
    text-decoration: none;
    color: #000;
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0 10px;
}

.albums-info li,
.album-info li{
    list-style-type: none;
}

.album-list {
    width: 100%;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: start;
}

.album {
    border-radius: 5px;
    border: 1px solid #eee;
    width: 180px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    height: 220px;
    position: relative;
}

.album img {
    width: 150px;
    margin: 0 15px;
}

.count-photo {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


@media (max-width: 480px) {
    .album-list {
        grid-template-columns: repeat(1, 1fr)
    }

    .albums-info {
        margin: 10px 20px;
        position: inherit;
    }

    .back-to-authors {
        margin: 10px 20px;
    }
}

@media (min-width: 481px) {
    .albums-info {
        float: right;
        top: 20px;
        right: 20px;
        position: absolute;
    }

    .back-to-authors {
        margin: 10px 50px;
    }
}

@media (max-width: 799px) and (min-width: 481px) {
    .album-list {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 1050px) and (min-width: 800px) {
    .album-list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 1599px) and (min-width: 1051px) {
    .album-list {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (min-width: 1600px) {
    .album-list {
        grid-template-columns: repeat(5, 1fr)
    }
}